body  {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  color: #000;
  background-color: #f2f2fc;
  margin: 35px 50px 35px 50px;
  padding: 0px;
  }
img {border : 0;}
h1, h2, h3, h4, h5, h6 {
  font-size: 17px;
  font-weight: bold;
  color: #0000cd;
  font-variant: small-caps;
  position: relative;
  background-color: #fff;
  z-index:10;
  }
h1, h2 {
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px;
  border:1px solid #888;
  z-index:10;
  }
h3, h4, h5, h6 {
  border-left:10px solid #0000cd;
  padding-left:5px;
  border-bottom:1px dotted #0000cd;
  }
h2 {font-size : 16px;}
h3 {font-size : 15px;}
h4 {font-size : 14px;}
h5 {font-size : 13px;}
h6 {font-size : 12px;}
p, ul, table {clear:left;}
a, a:link, a:visited, a:hover, a:active {
  color: #0012ff;
  margin: 0;
  padding: 0;
  border-width: 0;
  }
a:visited {color : #0000cd;}
table {
  table-layout: auto;
  width: 100%;
  padding: 20px;
  }
.grow { width: 100%; }​
td, th {
  text-align: center;
  vertical-align: baseline;
  padding: 5px;
  border: 1px outset #aaa;
  }
th {
  background-color: #0000cd;
  color: #fff;
  font-weight: bold;
  }
hr {
  display: block; 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  }
.leftalign, table.leftalign tr th, table.leftalign tr td {text-align: left;}
.section {
  position: relative;
  border: 1px dotted #bbb;
  background-color: #fff;
  margin: -30px 0px 30px 0px;
  padding: 20px 20px 10px 20px;
  }
.kit_description {
  position: relative;
  display: block;
  background-color: #f0f0f0;
  border-left: 4px solid #ccc;
  border-top: 1px dotted #ccc;
  }
.portrait_thumb {
  float: left;
  width: 125px;
  height: 125px;
  padding: 5px;
  text-align: center;
  overflow: auto;
  }
a.spoiler, a:link.spoiler, a:active.spoiler, a:visited.spoiler, a:hover.spoiler {
  color: #ccc;
  background-color: #ccc;
  border: 1px dotted #888;
  text-decoration: none;
  }
a:hover.spoiler {
  color: #000;
  border: 1px dotted #ccc;
  }
.code {
  font-family: 'Courier New', Courier, mono; 
  border: 1px solid #555; 
  border-left: 10px solid #555; 
  background-color: #eee;
  padding: 5px;
  }
.deprecated {color:#666;}
.code p {
  text-align: left;
  font-size: 100%;
  text-indent: 0px;
  margin: 5px 0 10px 0;
}
.tg {
  border-collapse:collapse;
  border-spacing:0;
  margin:0px auto;
}
.tg td{
  color: #333;
  text-align:justify;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
}
.tg th{
  text-align:center;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
}